numpy
scipy
scikit-learn
numba
torch
matplotlib
seaborn
celluloid
imageio
sphinx-rtd-theme
sphinx_copybutton
rst2pdf
pytest  # only for testing and not available in setup.cfg
requests
nevergrad
gymnasium
pip install gymnasium[classic-control]
